<h4>doctor's appointments</h4>
<div>
     {{doctor.first_name}}
</div>
<div>
  <table class="table">
     
    {{#each all_appointments}}
    <tr>
      <td>{{first_name}} {{last_name}} </td>
      <td>{{reason}}</td>
      <td>{{status}}</td>
      <td>{{slot_type}}</td>
      


    </tr>
    {{/each}}
  </table>
</div>
  