<h4>doctor's appointments</h4>
<div>
<<<<<<< HEAD
  <strong>DR {{doctor.first_name}} {{doctor.last_name}}</strong>
=======
<<<<<<< HEAD
     {{idNumbs.first_name}}
=======
     {{doctor.first_name}}
>>>>>>> 37691422b1e36a07ccaac5c5e63a2f55c7fa9c68
>>>>>>> d3d7435fbab992f00aac196cdc1a32c8dce82bb3
</div>
<br>

<div>
  <table class="table">
    <tr>
      <th>first_name</th>
      <th>Reason</th>
      <th>status</th>
      <th>slot_type</th>
    </tr>
    {{#each all_appointments}}
    <tr>
      <td>{{first_name}} {{last_name}} </td>
      <td>{{reason}}</td>
      <td>{{status}}</td>
      <td>{{slot_type}}</td>



    </tr>
    {{/each}}
  </table>
</div>