<h4>doctor's appointments</h4>
<div>
<<<<<<< HEAD
     {{idNumbs.first_name}}
=======
     {{doctor.first_name}}
>>>>>>> 37691422b1e36a07ccaac5c5e63a2f55c7fa9c68
</div>
<div>
  <table class="table">
     
    {{#each all_appointments}}
    <tr>
      <td>{{first_name}} {{last_name}} </td>
      <td>{{reason}}</td>
      <td>{{status}}</td>
      <td>{{slot_type}}</td>
      


    </tr>
    {{/each}}
  </table>
</div>
  