<div class="bg-img">

  <form action="/doctor" method="POST">
    {{!-- <input class="form-control" type="search" id="gsearch" name="search">
    <button type="submit" value="submit">search!</button>
    <br> --}}
    <button type="button" class="btn btn-danger">
      booked appointment <span class="badge badge-light">0</span>
      <span class="sr-only">upcoming appointment(s)</span>
    </button>
  </form>
  <h1> appointments</h1>
  <table class="table">
    {{#each appointments}}
    <tr>
      <td>{{id_number}}</td>
      <td>{{patient_name}}</td>
      <td>{{patient_lastName}}</td>
      <td>{{contact_no}}</td>
      <td>{{reason}}</td>
      <td>{{allergy}}</td>
      <td>{{first_time_visit}}</td>

    </tr>
    {{/each}}
  </table>
</div>