<h4>doctor's appointments</h4>
<div>
     {{all_doctors.first_name}}
</div>
<div>
  <table class="table">
     
    {{#each all_doctors}}
    <tr>
      <td>{{reason}}</td>
      <td>{{last_name}}</td>
      <td>{{email}}</td>
      <td>{{slot_type}}</td>
      <td>{{rate}}</td>

    </tr>
    {{/each}}
  </table>
</div>
  