<div>
    <strong>{{patient.first_name }} {{patient.last_name}}</strong>
</div>
<br>
<div>

    <h2>MAKE BOOKING</h2>


    <form action="/appointment" method="post">

        <input type="hidden" name="patient_id" value="{{patient.id}}">
        <input type="hidden" name="id_number" value="{{patient.id_number}}">


        <div><select class="btn btn-danger" name="slot_type">
                <option value="" disabled selected>Select your option</option>
                <option>morning </option>
                <option>midday</option>
                <option>evening</option>

            </select></div>
        <br>
        <div>
            <label class="input-check-label">Reason:</label>
            <textarea class="form-control" name="reason" placeholder="Enter reason eg:headache..."></textarea>
        </div>
        <br>
        <input class="btn btn-danger" type="submit" value="Make booking">
    </form>


    <h2>PREVIOUS BOOKINGS</h2>


</div>
<table class="table">
    <tr>
        <th>Doctor</th>
        <th>status</th>
        <th>slot_type</th>
        <th>rate</th>


    </tr>
    {{#each get_appointments}}
    <tr>
        <td>Dr {{first_name}} {{last_name}}</td>
        <td>{{status}}</td>
        <td>{{slot_type}}</td>
        <td>{{rate}}</td>
    </tr>
    {{/each}}
</table>
Did you know: COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or
exhales.
</div>
</div>
{{!--
<!-- Appy Chatbot widget, Paste the code in the <body> section -->
<script id="appyWidgetInit"
    src="https://chatbot.appypie.com/widget/loadbuild.js?cid=60fd23e61e60e03263dcf59b-60fd23e61e60e03263dcf59b-BOTID1627202574310&name=mixBuild"></script>
<!-- /. End Appy chatbot widget code --> --}}
</div>