<div>
    {{patient.first_name  }} {{patient.last_name}}
</div>
<div>

</div>
<div>

    <h2>Make booking</h2>


    <form action="/appointment" method="post">

        <input type="hidden" name="patient_id" value="{{patient.id}}">
        <input type="hidden" name="id_number" value="{{patient.id_number}}">


<<<<<<< HEAD
	<div><select name="slot_type">
		<option value="" disabled selected>Select your option</option>
		<option>morning </option>
        <option>midday</option>
        <option>evening</option>
=======
        <div><select name="slot_type">
                <option value="" disabled selected>Select your option</option>
                <option>morning</option>
                <option>midday</option>
                <option>evening</option>
>>>>>>> 37691422b1e36a07ccaac5c5e63a2f55c7fa9c68

            </select></div>

        <div>
            <textarea class="form-control" name="reason"></textarea>
        </div>

        <input class="btn btn-danger" type="submit" value="Make booking">
    </form>


    <h2>Previous bookings</h2>


</div>
<table class="table">
    <tr>
      <th>Doctor</th>
      <th>reason</th>
      <th>status</th>
      <th>slot_type</th>
      <th>rate</th>


    </tr>
    {{#each get_appointments}}
    <tr>
        
        <td>Dr {{first_name}} {{last_name}}</td>
        <td>{{reason}}</td>
        <td>{{status}}</td>
        <td>{{slot_type}}</td>
        <td>{{rate}}</td>
    </tr>
    {{/each}}
</table>
Did you know: COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or
exhales.
</div>
</div>
{{!--
<!-- Appy Chatbot widget, Paste the code in the <body> section -->
<script id="appyWidgetInit"
    src="https://chatbot.appypie.com/widget/loadbuild.js?cid=60fd23e61e60e03263dcf59b-60fd23e61e60e03263dcf59b-BOTID1627202574310&name=mixBuild"></script>
<!-- /. End Appy chatbot widget code --> --}}
</div>